.body {
}

.container {
  border: 2px solid black;
  height: 400px;
  display: flex;
  flex-wrap: wrap; 
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  justify-content: flex-start ;
  align-content: flex-start;
  align-items: center;  
  gap: 20px 20px;
}

.item {
  border: 1px solid gray;
  width: 88px;
  height: 88px;
  padding: 5px;
  font-size: 8pt;
}

.red {
  background: red;
  height: 80px;
}

.green {
  background: green;
  height: 20px;
}

.blue {
  background: blue;
  height: 100px;
}

.pink {
  background: pink;
  height: 50px;
}

.yellow {
  background: yellow;
  height: 20px;
}

.magenta {
  background: magenta;
  height: 70px;
}
