.notes{
  direction: rtl;
  width: 400px;
  /* position: absolute; */  
  position: fixed;
  text-align: right;
  bottom: 0px;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid gray;
  padding: 5px;
  background: rgb(240, 211, 117);
  font-family: 'Tahoma';
  font-size: 8pt;  
  color: black;
}

.notes ol{
  padding-inline-start: 20px;
}

.notes span{
  color: rgb(61, 61, 160);
}