.box {
  border: 1px solid rgb(34, 33, 33);
  background: rgb(223, 125, 125);
  width: 100px;
  height: 100px;
  margin: 3px;
}

.absolute {
  position: absolute;
  width: 70px;
  height: 70px;
  right:0px;
  top: 0px;
}

.green {
  background: green;
}

.relativeParent {
  position: relative;
  width: 300px;
  height: 500px;
  background: rgb(166, 168, 245);
}

.notRelativeParent {
  width: 200px;
  height: 450px;
  background: rgb(194, 188, 188);
}
