body{
  margin:0;
}

.box{
  width:100px;
  height:100px;
  border:1px solid black;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}


.parent{
  background: #a0a0a0;
  width: 200px;
  height: 200px;  
  position: relative;
  margin-left: 20px;
}

.sticky{
  width: 100px;
  height: 50px;
  top: 10px;
  background: rgb(78, 209, 110);
  position: sticky;
}

.spc{
  background: rgb(216, 133, 133);
  transform: translate(-50%,-20px);
}
