body{
  margin: 0;
}

.box {
  border: 1px solid rgb(34, 33, 33);
  background: rgb(223, 125, 125);
  width: 100px;
  height: 100px;
  /* margin: 3px; */
}

.absolute {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(300px - 70px);
  top: 0px;
}

.absolute2 {
  background: #000;
  color: white;
  position: absolute;
  width: 70px;
  height: 70px;
  /* left: calc(50% - 70px); */
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  /* top: 150px; */
  top: 50%;
}

.green {
  background: green;
}

.relativeParent {
  position: relative;
  /* width: 300px; */
  width: 50%;
  height: 300px;
  background: rgb(166, 168, 245);
}

.notRelativeParent {
  width: 200px;
  height: 250px;
  background: rgb(194, 188, 188);
}